.btn {
  border: 0;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  width: 100%;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all ease 0.2s;
}

.btn-init,
.btn-suspended {
  box-shadow: 0px 4px 1px 1px #199a4b, 0px 6px 1px 1px #0b5420;
  background: #23ce6b;
}

.btn-playing {
  box-shadow: 0px 4px 1px 1px #d4a752, 0px 6px 1px 1px #956933;
  background: #ffd166;
}

.btn-gameover {
  box-shadow: 0px 4px 1px 1px #ce3959, 0px 6px 1px 1px #8b1c2c;
  background: #ef476f;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(6px);
}

.btn-init:active,
.btn-suspended:active {
  background: #20bd60;
}

.btn-playing:active {
  background: #eabc5c;
}

.btn-gameover:active {
  background: #de4064;
}
